<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thrifthunter">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thrifthunter">
        <activity
            android:name=".activity.categoryShirt.ShirtCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.categoryHoodie.HoodieCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.categorySweatShirt.SweatShirtCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.categoryLongSleeve.LongSleeveCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.thrifthunter.activity.favorite.FavoriteActivity"
            android:exported="false"
            android:parentActivityName=".activity.main.MainActivity"/>
        <activity
            android:name="com.thrifthunter.activity.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LauncherActivity"
            android:exported="false" />
        <activity
            android:name="com.thrifthunter.activity.main.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.thrifthunter.activity.detail.DetailActivity"
            android:exported="false"
            android:parentActivityName=".activity.main.MainActivity"/>
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="com.thrifthunter.activity.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.thrifthunter.settings"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>